h1 {
  color: #872645;
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
  text-align: center;
}
li {
  color: magenta;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: left;

}